openapi: 3.0.3
info:
  title: CAB System API - Complete Functional Specification
  description: Đặc tả API chi tiết ánh xạ 1-1 từ FR-01.01 đến FR-16.05, gom nhóm theo từng Business Requirement (BR-01 đến BR-16).
  version: 1.0.0
servers:
  - url: https://api.cabsystem.com/v1

tags:
  - name: BR-01 – Quản lý tài khoản
    description: Đăng ký, đăng nhập, đăng xuất, cập nhật hồ sơ, phân quyền và xác thực
  - name: BR-02 – Quản lý khách hàng
    description: Tra cứu, cập nhật thông tin khách hàng, quản lý trạng thái tài khoản và lịch sử chuyến
  - name: BR-03 – Quản lý tài xế
    description: Hồ sơ tài xế, quản lý phương tiện, trạng thái hoạt động và cập nhật vị trí GPS
  - name: BR-04 – Đặt xe
    description: Nhập điểm đón/đến, chọn loại xe, tạo đơn đặt xe và hủy đặt xe
  - name: BR-05 – Tự động tìm tài xế
    description: Lọc tài xế phù hợp, tính khoảng cách, ưu tiên khoảng cách và cơ chế gửi điều phối
  - name: BR-06 – Xử lý nhận chuyến
    description: Thông báo chuyến mới, xem thông tin chuyến, chấp nhận hoặc từ chối đơn
  - name: BR-07 – Theo dõi chuyến đi
    description: Xem thông tin xe/tài xế, theo dõi vị trí trực tiếp và thời gian dự kiến (ETA)
  - name: BR-08 – Quản lý trạng thái chuyến
    description: Cập nhật tiến trình chuyến (đã nhận, đã đến, đã đón, đang di chuyển, hoàn thành)
  - name: BR-09 – Tính cước
    description: Thu thập thông tin lộ trình, định giá loại dịch vụ và hiển thị cước phí
  - name: BR-10 – Thanh toán
    description: Lựa chọn tiền mặt, thanh toán trực tuyến, xử lý phản hồi và lỗi giao dịch
  - name: BR-11 – Quản lý giao dịch
    description: Khởi tạo, lưu trữ mã giao dịch, kiểm tra trạng thái và tra cứu giao dịch thất bại
  - name: BR-12 – Thông báo
    description: Toàn bộ thông báo hệ thống gửi đến khách hàng và tài xế
  - name: BR-13 – Đánh giá tài xế
    description: Chấm điểm, gửi nhận xét và lưu dữ liệu đánh giá dịch vụ
  - name: BR-14 – Quản lý vận hành
    description: Giám sát các chuyến đang diễn ra, xử lý sự cố phát sinh và kiểm tra hệ thống
  - name: BR-15 – Quản lý tài chính
    description: Đối soát giao dịch, theo dõi doanh thu và kiểm tra trạng thái thanh toán
  - name: BR-16 – Báo cáo hoạt động
    description: Báo cáo tỷ lệ hoàn thành, tỷ lệ hủy chuyến, doanh thu và hiệu quả tài xế

paths:
  # ============================================================================
  # BR-01 – QUẢN LÝ TÀI KHOẢN (FR-01.01 -> FR-01.07)
  # ============================================================================
  /auth/register/customer:
    post:
      tags:
        - BR-01 – Quản lý tài khoản
      summary: FR-01.01 - Đăng ký tài khoản khách hàng
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fullName, phoneNumber, password]
              properties:
                fullName: { type: string, example: "Nguyễn Văn A" }
                phoneNumber: { type: string, example: "0901234567" }
                email: { type: string, example: "nguyenvana@gmail.com" }
                password: { type: string, example: "Password@123" }
      responses:
        '201':
          description: Đăng ký thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  customerId: { type: string, example: "CUST_001" }
                  message: { type: string, example: "Tạo tài khoản thành công" }

  /auth/login:
    post:
      tags:
        - BR-01 – Quản lý tài khoản
      summary: FR-01.02, FR-01.06, FR-01.07 - Đăng nhập, xác thực và phân quyền
      description: Ánh xạ FR-01.06 (Xác thực người dùng) và FR-01.07 (Phân quyền khách hàng, tài xế, nhân viên)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password, role]
              properties:
                username: { type: string, example: "0901234567" }
                password: { type: string, example: "Password@123" }
                role: { type: string, enum: [CUSTOMER, DRIVER, OPERATOR, ACCOUNTANT], example: "CUSTOMER" }
      responses:
        '200':
          description: Đăng nhập thành công và trả về token phân quyền
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken: { type: string, example: "jwt_token_sample" }
                  role: { type: string, example: "CUSTOMER" }
                  permissions: 
                    type: array
                    items: { type: string }
                    example: ["TRIP_BOOKING", "TRIP_VIEW"]

  /auth/logout:
    post:
      tags:
        - BR-01 – Quản lý tài khoản
      summary: FR-01.03 - Đăng xuất
      responses:
        '200':
          description: Đăng xuất thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: "Đã đăng xuất" }

  /users/profile:
    get:
      tags:
        - BR-01 – Quản lý tài khoản
      summary: FR-01.04 - Xem thông tin cá nhân
      responses:
        '200':
          description: Chi tiết hồ sơ người dùng
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId: { type: string, example: "USR_101" }
                  fullName: { type: string, example: "Nguyễn Văn A" }
                  phoneNumber: { type: string, example: "0901234567" }
                  email: { type: string, example: "nguyenvana@gmail.com" }
    put:
      tags:
        - BR-01 – Quản lý tài khoản
      summary: FR-01.04 - Cập nhật thông tin cá nhân
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName: { type: string, example: "Nguyễn Văn A" }
                email: { type: string, example: "nguyenvana_new@gmail.com" }
      responses:
        '200':
          description: Cập nhật thành công

  /operators/driver-accounts:
    post:
      tags:
        - BR-01 – Quản lý tài khoản
      summary: FR-01.05 - Quản lý tài khoản tài xế (Nhân viên tạo hoặc tài xế đăng ký)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fullName, phoneNumber, password, driverLicense]
              properties:
                fullName: { type: string, example: "Trần Văn Tài" }
                phoneNumber: { type: string, example: "0988776655" }
                password: { type: string, example: "DriverSecret123" }
                driverLicense: { type: string, example: "GPLX-998877" }
      responses:
        '201':
          description: Tài khoản tài xế được tạo thành công

  # ============================================================================
  # BR-02 – QUẢN LÝ KHÁCH HÀNG (FR-02.01 -> FR-02.05)
  # ============================================================================
  /customers:
    get:
      tags:
        - BR-02 – Quản lý khách hàng
      summary: FR-02.01 - Xem danh sách khách hàng
      parameters:
        - name: page
          in: query
          schema: { type: integer, example: 1 }
        - name: limit
          in: query
          schema: { type: integer, example: 20 }
      responses:
        '200':
          description: Danh sách khách hàng
          content:
            application/json:
              schema:
                type: object
                properties:
                  total: { type: integer, example: 50 }
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        customerId: { type: string, example: "CUST_001" }
                        fullName: { type: string, example: "Nguyễn Văn A" }
                        phoneNumber: { type: string, example: "0901234567" }
                        status: { type: string, example: "ACTIVE" }

  /customers/{customerId}:
    get:
      tags:
        - BR-02 – Quản lý khách hàng
      summary: FR-02.02 - Xem thông tin khách hàng
      parameters:
        - name: customerId
          in: path
          required: true
          schema: { type: string, example: "CUST_001" }
      responses:
        '200':
          description: Thông tin chi tiết khách hàng
          content:
            application/json:
              schema:
                type: object
                properties:
                  customerId: { type: string, example: "CUST_001" }
                  fullName: { type: string, example: "Nguyễn Văn A" }
                  phoneNumber: { type: string, example: "0901234567" }
                  email: { type: string, example: "nguyenvana@gmail.com" }
                  status: { type: string, example: "ACTIVE" }
    put:
      tags:
        - BR-02 – Quản lý khách hàng
      summary: FR-02.03 - Cập nhật thông tin khách hàng
      parameters:
        - name: customerId
          in: path
          required: true
          schema: { type: string, example: "CUST_001" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName: { type: string, example: "Nguyễn Văn A Mới" }
                email: { type: string, example: "new_email@gmail.com" }
      responses:
        '200':
          description: Cập nhật thành công

  /customers/{customerId}/status:
    patch:
      tags:
        - BR-02 – Quản lý khách hàng
      summary: FR-02.04 - Quản lý trạng thái tài khoản
      parameters:
        - name: customerId
          in: path
          required: true
          schema: { type: string, example: "CUST_001" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { type: string, enum: [ACTIVE, LOCKED, SUSPENDED], example: "LOCKED" }
                reason: { type: string, example: "Vi phạm quy định hủy chuyến" }
      responses:
        '200':
          description: Đã thay đổi trạng thái tài khoản

  /customers/{customerId}/trips:
    get:
      tags:
        - BR-02 – Quản lý khách hàng
      summary: FR-02.05 - Xem lịch sử chuyến đi
      parameters:
        - name: customerId
          in: path
          required: true
          schema: { type: string, example: "CUST_001" }
      responses:
        '200':
          description: Danh sách các chuyến xe đã đi
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    tripId: { type: string, example: "TRIP_1001" }
                    pickupAddress: { type: string, example: "123 Nguyễn Huệ" }
                    dropoffAddress: { type: string, example: "456 Lê Lợi" }
                    fare: { type: number, example: 55000 }
                    status: { type: string, example: "COMPLETED" }

  # ============================================================================
  # BR-03 – QUẢN LÝ TÀI XẾ (FR-03.01 -> FR-03.05)
  # ============================================================================
  /drivers/{driverId}/profile:
    get:
      tags:
        - BR-03 – Quản lý tài xế
      summary: FR-03.01, FR-03.05 - Xem thông tin và hồ sơ tài xế
      parameters:
        - name: driverId
          in: path
          required: true
          schema: { type: string, example: "DRV_501" }
      responses:
        '200':
          description: Chi tiết hồ sơ và trạng thái tài xế
          content:
            application/json:
              schema:
                type: object
                properties:
                  driverId: { type: string, example: "DRV_501" }
                  fullName: { type: string, example: "Trần Văn Tài" }
                  phoneNumber: { type: string, example: "0988776655" }
                  licenseNumber: { type: string, example: "B2-998877" }
                  isAvailable: { type: boolean, example: true }
                  status: { type: string, example: "ACTIVE" }
    put:
      tags:
        - BR-03 – Quản lý tài xế
      summary: FR-03.01 - Quản lý hồ sơ tài xế
      parameters:
        - name: driverId
          in: path
          required: true
          schema: { type: string, example: "DRV_501" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName: { type: string, example: "Trần Văn Tài" }
                driverLicense: { type: string, example: "B2-998877" }
      responses:
        '200':
          description: Cập nhật hồ sơ tài xế thành công

  /drivers/{driverId}/vehicle:
    put:
      tags:
        - BR-03 – Quản lý tài xế
      summary: FR-03.02 - Quản lý phương tiện tài xế
      parameters:
        - name: driverId
          in: path
          required: true
          schema: { type: string, example: "DRV_501" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [licensePlate, vehicleType, modelName]
              properties:
                licensePlate: { type: string, example: "51F-123.45" }
                vehicleType: { type: string, enum: [4_SEATS, 7_SEATS, BIKE], example: "4_SEATS" }
                modelName: { type: string, example: "Toyota Vios 2021" }
      responses:
        '200':
          description: Cập nhật xe thành công

  /drivers/{driverId}/availability:
    patch:
      tags:
        - BR-03 – Quản lý tài xế
      summary: FR-03.03 - Cập nhật trạng thái hoạt động (sẵn sàng/không sẵn sàng)
      parameters:
        - name: driverId
          in: path
          required: true
          schema: { type: string, example: "DRV_501" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [isAvailable]
              properties:
                isAvailable: { type: boolean, example: true }
      responses:
        '200':
          description: Trạng thái sẵn sàng đã cập nhật

  /drivers/{driverId}/location:
    put:
      tags:
        - BR-03 – Quản lý tài xế
      summary: FR-03.04 - Cập nhật vị trí tài xế
      parameters:
        - name: driverId
          in: path
          required: true
          schema: { type: string, example: "DRV_501" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [latitude, longitude]
              properties:
                latitude: { type: number, example: 10.776889 }
                longitude: { type: number, example: 106.700806 }
      responses:
        '200':
          description: Tọa độ vị trí đã được lưu trữ

  # ============================================================================
  # BR-04 – ĐẶT XE (FR-04.01 -> FR-04.06)
  # ============================================================================
  /trips/booking:
    post:
      tags:
        - BR-04 – Đặt xe
      summary: FR-04.01 -> FR-04.05 - Nhập điểm đón/đến, chọn loại xe, tạo yêu cầu đặt xe & tự tạo mã chuyến
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [customerId, pickupAddress, pickupLat, pickupLng, dropoffAddress, dropoffLat, dropoffLng, vehicleType]
              properties:
                customerId: { type: string, example: "CUST_001" }
                pickupAddress: { type: string, example: "123 Lê Lợi, Bến Thành, Q1" }
                pickupLat: { type: number, example: 10.776889 }
                pickupLng: { type: number, example: 106.700806 }
                dropoffAddress: { type: string, example: "789 Nguyễn Đình Chiểu, Q3" }
                dropoffLat: { type: number, example: 10.785000 }
                dropoffLng: { type: number, example: 106.695000 }
                vehicleType: { type: string, enum: [4_SEATS, 7_SEATS, BIKE], example: "4_SEATS" }
      responses:
        '201':
          description: Đặt chuyến thành công, mã chuyến được tạo tự động
          content:
            application/json:
              schema:
                type: object
                properties:
                  tripId: { type: string, example: "TRIP_20260907_001" }
                  status: { type: string, example: "SEARCHING_DRIVER" }
                  estimatedFare: { type: number, example: 65000 }

  /trips/{tripId}/cancel:
    post:
      tags:
        - BR-04 – Đặt xe
      summary: FR-04.06 - Hủy yêu cầu đặt xe
      parameters:
        - name: tripId
          in: path
          required: true
          schema: { type: string, example: "TRIP_20260907_001" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, example: "Đổi kế hoạch di chuyển" }
      responses:
        '200':
          description: Chuyến xe đã hủy thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  tripId: { type: string, example: "TRIP_20260907_001" }
                  status: { type: string, example: "CANCELED" }

  # ============================================================================
  # BR-05 – TỰ ĐỘNG TÌM TÀI XẾ (FR-05.01 -> FR-05.07)
  # ============================================================================
  /dispatch/find-driver:
    post:
      tags:
        - BR-05 – Tự động tìm tài xế
      summary: FR-05.01 -> FR-05.07 - Xác định tài xế sẵn sàng, lọc xe, tính khoảng cách, ưu tiên tài xế gần & gửi điều phối
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tripId]
              properties:
                tripId: { type: string, example: "TRIP_20260907_001" }
                retryCount: { type: integer, example: 0 }
      responses:
        '200':
          description: Đã tìm thấy tài xế ưu tiên gần nhất và gửi yêu cầu
          content:
            application/json:
              schema:
                type: object
                properties:
                  matched: { type: boolean, example: true }
                  driverId: { type: string, example: "DRV_501" }
                  driverDistanceKm: { type: number, example: 0.8 }
        '404':
          description: FR-05.07 - Thông báo không tìm được tài xế phù hợp
          content:
            application/json:
              schema:
                type: object
                properties:
                  matched: { type: boolean, example: false }
                  message: { type: string, example: "Hiện không tìm thấy tài xế nào xung quanh bạn" }

  # ============================================================================
  # BR-06 – XỬ LÝ NHẬN CHUYẾN (FR-06.01 -> FR-06.05)
  # ============================================================================
  /drivers/trips/incoming:
    get:
      tags:
        - BR-06 – Xử lý nhận chuyến
      summary: FR-06.01, FR-06.02 - Nhận thông báo và xem thông tin chuyến mới cho tài xế
      parameters:
        - name: driverId
          in: query
          required: true
          schema: { type: string, example: "DRV_501" }
      responses:
        '200':
          description: Chi tiết chuyến xe vừa gửi tới tài xế
          content:
            application/json:
              schema:
                type: object
                properties:
                  tripId: { type: string, example: "TRIP_20260907_001" }
                  pickupAddress: { type: string, example: "123 Lê Lợi, Q1" }
                  dropoffAddress: { type: string, example: "789 Nguyễn Đình Chiểu, Q3" }
                  distanceKm: { type: number, example: 4.8 }
                  estimatedEarnings: { type: number, example: 52000 }
                  timeoutSeconds: { type: integer, example: 30 }

  /drivers/trips/{tripId}/response:
    post:
      tags:
        - BR-06 – Xử lý nhận chuyến
      summary: FR-06.03 -> FR-06.05 - Chấp nhận, từ chối chuyến & ghi nhận thời gian phản hồi
      parameters:
        - name: tripId
          in: path
          required: true
          schema: { type: string, example: "TRIP_20260907_001" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [driverId, responseAction]
              properties:
                driverId: { type: string, example: "DRV_501" }
                responseAction: { type: string, enum: [ACCEPT, REJECT], example: "ACCEPT" }
                responseTimeSeconds: { type: integer, example: 5 }
                rejectReason: { type: string, example: "Kẹt đường, không kịp đón" }
      responses:
        '200':
          description: Ghi nhận phản hồi thành công

  # ============================================================================
  # BR-07 – THEO DÕI CHUYẾN ĐI (FR-07.01 -> FR-07.05)
  # ============================================================================
  /trips/{tripId}/tracking:
    get:
      tags:
        - BR-07 – Theo dõi chuyến đi
      summary: FR-07.01 -> FR-07.05 - Xem thông tin tài xế, phương tiện, tọa độ, ETA và trạng thái hiện tại
      parameters:
        - name: tripId
          in: path
          required: true
          schema: { type: string, example: "TRIP_20260907_001" }
      responses:
        '200':
          description: Dữ liệu theo dõi trực tiếp cho khách hàng
          content:
            application/json:
              schema:
                type: object
                properties:
                  tripStatus: { type: string, example: "ARRIVED" }
                  driverName: { type: string, example: "Trần Văn Tài" }
                  driverPhone: { type: string, example: "0988776655" }
                  driverRating: { type: number, example: 4.9 }
                  vehicleLicensePlate: { type: string, example: "51F-123.45" }
                  vehicleModel: { type: string, example: "Toyota Vios" }
                  driverCurrentLat: { type: number, example: 10.776900 }
                  driverCurrentLng: { type: number, example: 106.700810 }
                  estimatedArrivalMinutes: { type: integer, example: 3 }

  # ============================================================================
  # BR-08 – QUẢN LÝ TRẠNG THÁI CHUYẾN (FR-08.01 -> FR-08.07)
  # ============================================================================
  /trips/{tripId}/status:
    patch:
      tags:
        - BR-08 – Quản lý trạng thái chuyến
      summary: FR-08.01 -> FR-08.06 - Cập nhật trạng thái chuyến (Tìm xe, đã nhận, đã đến, đã đón, đang chạy, hoàn thành)
      parameters:
        - name: tripId
          in: path
          required: true
          schema: { type: string, example: "TRIP_20260907_001" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [SEARCHING, DRIVER_ACCEPTED, ARRIVED_PICKUP, PICKED_UP, IN_TRANSIT, COMPLETED]
                  example: "PICKED_UP"
      responses:
        '200':
          description: Trạng thái chuyến đã cập nhật thành công

  /trips/{tripId}/status-history:
    get:
      tags:
        - BR-08 – Quản lý trạng thái chuyến
      summary: FR-08.07 - Lưu và xem lịch sử thay đổi trạng thái chuyến đi
      parameters:
        - name: tripId
          in: path
          required: true
          schema: { type: string, example: "TRIP_20260907_001" }
      responses:
        '200':
          description: Danh sách mốc thời gian chuyển trạng thái
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    status: { type: string, example: "PICKED_UP" }
                    timestamp: { type: string, example: "2026-09-07T14:32:00Z" }

  # ============================================================================
  # BR-09 – TÍNH CƯỚC (FR-09.01 -> FR-09.04)
  # ============================================================================
  /fares/calculate:
    post:
      tags:
        - BR-09 – Tính cước
      summary: FR-09.01 -> FR-09.04 - Thu thập thông tin, xác định loại xe, tính và hiển thị số tiền cước
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pickupLat, pickupLng, dropoffLat, dropoffLng, vehicleType]
              properties:
                pickupLat: { type: number, example: 10.776889 }
                pickupLng: { type: number, example: 106.700806 }
                dropoffLat: { type: number, example: 10.785000 }
                dropoffLng: { type: number, example: 106.695000 }
                vehicleType: { type: string, enum: [4_SEATS, 7_SEATS, BIKE], example: "4_SEATS" }
      responses:
        '200':
          description: Hiển thị số tiền cước ước tính cho khách hàng
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicleType: { type: string, example: "4_SEATS" }
                  distanceKm: { type: number, example: 4.8 }
                  fareAmount: { type: number, example: 65000 }
                  currency: { type: string, example: "VND" }

  # ============================================================================
  # BR-10 – THANH TOÁN (FR-10.01 -> FR-10.05)
  # ============================================================================
  /payments/process:
    post:
      tags:
        - BR-10 – Thanh toán
      summary: FR-10.01 -> FR-10.03 - Chọn phương thức (tiền mặt/trực tuyến) và xử lý thanh toán
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tripId, paymentMethod, amount]
              properties:
                tripId: { type: string, example: "TRIP_20260907_001" }
                paymentMethod: { type: string, enum: [CASH, E_WALLET, CREDIT_CARD], example: "E_WALLET" }
                amount: { type: number, example: 65000 }
      responses:
        '201':
          description: Đã khởi tạo giao dịch thanh toán
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactionId: { type: string, example: "TXN_998811" }
                  tripId: { type: string, example: "TRIP_20260907_001" }
                  status: { type: string, example: "PENDING" }
                  paymentUrl: { type: string, example: "https://payment-gateway.vn/pay/998811" }

  /payments/callback:
    post:
      tags:
        - BR-10 – Thanh toán
      summary: FR-10.04, FR-10.05 - Tiếp nhận kết quả thanh toán từ đối tác và xử lý trường hợp thất bại
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [transactionId, gatewayStatus, gatewayReference]
              properties:
                transactionId: { type: string, example: "TXN_998811" }
                gatewayReference: { type: string, example: "MOMO_REF_7749" }
                gatewayStatus: { type: string, enum: [SUCCESS, FAILED], example: "FAILED" }
                failureReason: { type: string, example: "Số dư ví không đủ" }
      responses:
        '200':
          description: Cập nhật giao dịch hoàn tất
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactionId: { type: string, example: "TXN_998811" }
                  status: { type: string, example: "FAILED" }
                  message: { type: string, example: "Thanh toán thất bại, yêu cầu khách hàng đổi phương thức" }

  # ============================================================================
  # BR-11 – QUẢN LÝ GIAO DỊCH (FR-11.01 -> FR-11.05)
  # ============================================================================
  /transactions:
    get:
      tags:
        - BR-11 – Quản lý giao dịch
      summary: FR-11.01 -> FR-11.05 - Tra cứu danh sách, lịch sử giao dịch và đối soát mã giao dịch thất bại
      parameters:
        - name: tripId
          in: query
          schema: { type: string, example: "TRIP_20260907_001" }
        - name: status
          in: query
          schema: { type: string, enum: [SUCCESS, FAILED, PENDING] }
      responses:
        '200':
          description: Danh sách các bản ghi giao dịch
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    transactionId: { type: string, example: "TXN_998811" }
                    tripId: { type: string, example: "TRIP_20260907_001" }
                    amount: { type: number, example: 65000 }
                    paymentMethod: { type: string, example: "E_WALLET" }
                    status: { type: string, example: "FAILED" }
                    failureReason: { type: string, example: "Số dư không đủ" }
                    createdAt: { type: string, example: "2026-09-07T14:40:00Z" }

  # ============================================================================
  # BR-12 – THÔNG BÁO (FR-12.01 -> FR-12.06)
  # ============================================================================
  /notifications:
    get:
      tags:
        - BR-12 – Thông báo
      summary: FR-12.01 -> FR-12.06 - Xem toàn bộ thông báo hệ thống gửi đến người dùng
      parameters:
        - name: userId
          in: query
          required: true
          schema: { type: string, example: "USR_101" }
      responses:
        '200':
          description: Danh sách thông báo
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    notificationId: { type: string, example: "NOTIF_01" }
                    type:
                      type: string
                      enum:
                        - BOOKING_RECEIVED
                        - DRIVER_ACCEPTED
                        - DRIVER_ARRIVED
                        - TRIP_COMPLETED
                        - PAYMENT_RESULT
                        - NEW_TRIP_DISPATCH
                      example: "DRIVER_ARRIVED"
                    title: { type: string, example: "Tài xế đã đến" }
                    content: { type: string, example: "Tài xế Trần Văn Tài đã có mặt tại điểm đón." }
                    sentTime: { type: string, example: "2026-09-07T14:25:00Z" }

  # ============================================================================
  # BR-13 – ĐÁNH GIÁ TÀI XẾ (FR-13.01 -> FR-13.04)
  # ============================================================================
  /trips/{tripId}/rating:
    post:
      tags:
        - BR-13 – Đánh giá tài xế
      summary: FR-13.01 -> FR-13.04 - Đánh giá, chấm điểm theo thang, nhập nhận xét & lưu kết quả đánh giá tài xế
      parameters:
        - name: tripId
          in: path
          required: true
          schema: { type: string, example: "TRIP_20260907_001" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [score]
              properties:
                score: { type: integer, minimum: 1, maximum: 5, example: 5 }
                comment: { type: string, example: "Xe sạch sẽ, tài xế lịch sự, chạy đúng tốc độ." }
      responses:
        '201':
          description: Đánh giá tài xế đã được lưu
          content:
            application/json:
              schema:
                type: object
                properties:
                  reviewId: { type: string, example: "REV_101" }
                  tripId: { type: string, example: "TRIP_20260907_001" }
                  score: { type: integer, example: 5 }
                  comment: { type: string, example: "Xe sạch sẽ, tài xế lịch sự" }

  # ============================================================================
  # BR-14 – QUẢN LÝ VẬN HÀNH (FR-14.01 -> FR-14.07)
  # ============================================================================
  /operations/trips/active:
    get:
      tags:
        - BR-14 – Quản lý vận hành
      summary: FR-14.04, FR-14.05 - Theo dõi các chuyến đang diễn ra và kiểm tra trạng thái tài xế
      responses:
        '200':
          description: Danh sách các chuyến đang chạy trên hệ thống
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    tripId: { type: string, example: "TRIP_20260907_001" }
                    driverId: { type: string, example: "DRV_501" }
                    driverStatus: { type: string, example: "BUSY" }
                    tripStatus: { type: string, example: "IN_TRANSIT" }
                    currentLocation: { type: string, example: "10.776900, 106.700810" }

  /operations/trips/{tripId}/handle-error:
    post:
      tags:
        - BR-14 – Quản lý vận hành
      summary: FR-14.06 - Xử lý các chuyến đi phát sinh lỗi
      parameters:
        - name: tripId
          in: path
          required: true
          schema: { type: string, example: "TRIP_20260907_001" }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action, operatorNote]
              properties:
                action: { type: string, enum: [FORCE_CANCEL, REASSIGN_NEW_DRIVER, ADJUST_PRICE], example: "REASSIGN_NEW_DRIVER" }
                operatorNote: { type: string, example: "Tài xế hỏng xe giữa lộ trình, điều xe khác hỗ trợ khách" }
      responses:
        '200':
          description: Đã can thiệp xử lý sự cố thành công

  /operations/trips/history:
    get:
      tags:
        - BR-14 – Quản lý vận hành
      summary: FR-14.07 - Tra cứu toàn bộ lịch sử các chuyến đi của hệ thống
      parameters:
        - name: fromDate
          in: query
          schema: { type: string, example: "2026-09-01" }
        - name: toDate
          in: query
          schema: { type: string, example: "2026-09-07" }
      responses:
        '200':
          description: Lịch sử chuyến đi phục vụ vận hành
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    tripId: { type: string, example: "TRIP_20260907_001" }
                    status: { type: string, example: "COMPLETED" }
                    fare: { type: number, example: 65000 }

  # ============================================================================
  # BR-15 – QUẢN LÝ TÀI CHÍNH (FR-15.01 -> FR-15.04)
  # ============================================================================
  /finance/transactions:
    get:
      tags:
        - BR-15 – Quản lý tài chính
      summary: FR-15.01, FR-15.03, FR-15.04 - Tra cứu giao dịch, kiểm tra trạng thái và lọc các giao dịch thất bại
      parameters:
        - name: paymentStatus
          in: query
          schema: { type: string, enum: [SUCCESS, FAILED, ALL], example: "FAILED" }
        - name: date
          in: query
          schema: { type: string, example: "2026-09-07" }
      responses:
        '200':
          description: Danh sách đối soát cho bộ phận tài chính
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    transactionId: { type: string, example: "TXN_998811" }
                    tripId: { type: string, example: "TRIP_20260907_001" }
                    amount: { type: number, example: 65000 }
                    status: { type: string, example: "FAILED" }
                    failureReason: { type: string, example: "Số dư ví không đủ" }

  /finance/revenue:
    get:
      tags:
        - BR-15 – Quản lý tài chính
      summary: FR-15.02 - Theo dõi dữ liệu doanh thu từ các chuyến đi và thanh toán
      parameters:
        - name: startDate
          in: query
          required: true
          schema: { type: string, example: "2026-09-01" }
        - name: endDate
          in: query
          required: true
          schema: { type: string, example: "2026-09-07" }
      responses:
        '200':
          description: Dữ liệu doanh thu
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalGrossRevenue: { type: number, example: 152000000 }
                  platformCommission: { type: number, example: 30400000 }
                  driverPayout: { type: number, example: 121600000 }

  # ============================================================================
  # BR-16 – BÁO CÁO HOẠT ĐỘNG (FR-16.01 -> FR-16.05)
  # ============================================================================
  /reports/operations:
    get:
      tags:
        - BR-16 – Báo cáo hoạt động
      summary: FR-16.01 -> FR-16.04 - Báo cáo số lượng chuyến, doanh thu, tỷ lệ hoàn thành, tỷ lệ hủy theo khoảng thời gian
      parameters:
        - name: startDate
          in: query
          required: true
          schema: { type: string, example: "2026-09-01" }
        - name: endDate
          in: query
          required: true
          schema: { type: string, example: "2026-09-07" }
      responses:
        '200':
          description: Báo cáo tổng hợp hoạt động hệ thống
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalTrips: { type: integer, example: 5000 }
                  completedTrips: { type: integer, example: 4500 }
                  canceledTrips: { type: integer, example: 500 }
                  completionRate: { type: number, example: 90.0 }
                  cancellationRate: { type: number, example: 10.0 }
                  totalRevenue: { type: number, example: 250000000 }

  /reports/drivers-performance:
    get:
      tags:
        - BR-16 – Báo cáo hoạt động
      summary: FR-16.05 - Báo cáo dữ liệu đánh giá hiệu quả tài xế
      parameters:
        - name: driverId
          in: query
          schema: { type: string, example: "DRV_501" }
      responses:
        '200':
          description: Dữ liệu hiệu quả hoạt động của tài xế
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    driverId: { type: string, example: "DRV_501" }
                    driverName: { type: string, example: "Trần Văn Tài" }
                    tripsCompleted: { type: integer, example: 120 }
                    acceptanceRate: { type: number, example: 96.5 }
                    cancellationRate: { type: number, example: 1.2 }
                    averageRating: { type: number, example: 4.85 }
